apiVersion: apps/v1
kind: Deployment
metadata:
  name: cats-dogs-api
  labels:
    app: cats-dogs-api
    version: "1.0"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cats-dogs-api
  template:
    metadata:
      labels:
        app: cats-dogs-api
    spec:
      containers:
        - name: cats-dogs-api
          image: ${DOCKERHUB_USERNAME}/cats-dogs-mlops:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: MODEL_PATH
              value: "/app/models/model.pt"
            - name: MODEL_META_PATH
              value: "/app/models/model_meta.json"
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1000m"
              memory: "1Gi"
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
